@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@keyframes fadeInFromRight {
    0% {
       opacity: 0;
       transform: translateX(15%);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 

 @media (prefers-reduced-motion: no-preference) {
    .fadeInFromRightAnimation {
      animation: fadeInFromRight 1.5s 1;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-fill-mode: forwards;
    }
}


@keyframes fadeIn {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
 } 

 @media (prefers-reduced-motion: no-preference) {
    .fadeInAnimation {
      animation: fadeIn 1.5s 1;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-fill-mode: forwards;
    }
}

@keyframes fadeInSlower {
    0% {
       opacity: 0;
    }
    25% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
 } 

@media (prefers-reduced-motion: no-preference) {
    .fadeInSlowerAnimation {
      animation: fadeInSlower 1.8s 1;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-fill-mode: forwards;
    }
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

.itemWrapper {
    opacity: 0;
}
.sectionWrapper {
    opacity: 0;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    text-size-adjust: 100%;
  }

body {
    background-color: #121212;
}

div {
    display: block;
    border-radius: 8px;
    /* border: 1px solid #FFFFFF; */
}

img {
    /* border-radius: 8px; */
    /* border: 1px solid red; */
}

a {
    display: inline-flex;
}   

h1{
    margin: 4vh 0vh 2vh 0vh;
}

h2{
    margin: 2vh 0vh 1vh 0vh;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}


#main {
    margin: 0px 16px;
}

#IntroTopWrapper {
    display: flex;
    margin: 4vh 0vh 2vh 0vh;
}

#HeadshotWrapper {
    width: 26%;
}

#Headshot {
    width: 100%;
    height: auto;
}

#IntroRightWrapper {
    width: 74%;
    padding-left: 22px;
}

#IntroHeader{
    margin-top: 5%;
}

#IntroText {
    display: block;
    margin: 5% 0px 2% 0px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2.8;
    font-size: large;
}

#IntroBottomWrapper {
    display: block;
    margin-bottom: 4vh;
}

#IntroBottomLeftWrapper {
    display: inline-flex;
    /* width: 70%; */
    /* float: left; */
    align-items: center;
}

#IntroBottomRightWrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
    padding-right: 4px;
    float: right;
}

.SocialIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline;

    transform: scale(1);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.SocialIcon:hover {
    transform: scale(1.05);
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.projectLinkImage {
    margin: -10%;
    margin-left: 0px;
    width: 70px;
    height: 70px;
}

#IntroBottomRightWrapper .SocialIcon {
    margin-left: 10px;
}

.SocialText {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
    margin-right: 10px;
}


#LanguageHeader {
    margin-bottom: 1vh;
}


#ConceptsList {
    margin: 3vh 0px;
    display: block;
    columns: 3;
    text-align: center;
    list-style: none;
    line-height: 1.7;
    font-size: large;
}

#ConceptsWrapper {
    margin-bottom: 10px;
}

.projectWrapper {
    margin-bottom: 4vh;
    border-radius: 8px;
    border-bottom: 3px solid #747474;
}

.projectTitleAndLanguageWrapper {
    display: flex;
    min-height: 60px;
    height: min(5vh, 5vw);
    align-items: stretch;
    margin: 1vh 0vh 0vh 0vh;
}

.projectDescriptionAndImageWrapper {
    display: flex;
    margin: 3vh 0vh 2vh 0vh;
}

.projectImage {
    width: 60%;
    border-radius: 8px;
}

.projectDescription {
    width: 35%;
    display:block;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2;
    font-size: large;
}

.positionDescription {
    margin: 1vh 0vh 2vh 0vh;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2.1;
    padding: 0px 16px;
    font-size: large;
}

.projectLiveObject {
    display: block;
    min-width: 400px;
    width: 60%;
    min-height: 600px;
    height: auto;
    border-radius: 8px;
}

.projectTitle {
    /* width: 30%; */
    display: inline-block;   
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
}
.projectLanguages {
    display: flex;
    width: 35%;
    margin-left: auto;
}

.ProjectGithubLinkImage {
    width:50px;
    height: 50px;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid #121212;
    margin-right: -16px;
    min-width: fit-content;
    padding: 4px 4px;
    min-height: fit-content;
    transform: translateX(0px);
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.language:hover {
    /* margin-right: -0px; */
    transform: translateX(-6px);
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.projectLinkWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.researchLinkText {
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}

#PositionsHeader {
    margin: 0px;
    margin-top: 10px;
}


#LanguageBoxWrapper {
    display: flex;
    width: 100%;
    /* height: 10vh; */
    /* do n loop z index decrease for each language box */
}

#languageBox {
    margin: 10px 0px;
    display: flex;
    min-height: 40px;
    height:min(8vh, 8vw);
    width: 100%;
}

.researchTitleWrapper {
    display: block;
    width: 100%;
}

.researchTitle {
    
}

.Javascript {
    background-color: rgb(182, 194, 11);
}
.HTML {
    background-color: #830083;
}
.CSS {
    background-color: #007781;
}
.Java {
    background-color: #157e00;
}
.Python {
    background-color: #8d0000;
}
.C, .Cplusplus {
    background-color: #00307e;
}
.SQL {
    background-color: #925000;
}
.PHP {
    background-color: #4636a3;
}
.Psychology {
    background-color: #2b0091;
}